@tailwind base;
@tailwind components;
@tailwind utilities;


.tippy-box[data-theme~='tooltip-theme'] {
    @apply px-2 py-1 bg-gray-900 dark:bg-gray-200 dark:text-black text-sm text-gray-200 rounded-md;
  }
  
@layer utilities {
.hoverable {
    @apply hover:bg-gray-800 hover:bg-opacity-5 dark:hover:bg-gray-200 dark:hover:bg-opacity-5;
}
.bg-input {
    @apply bg-black bg-opacity-5 hover:bg-opacity-10 dark:bg-gray-200 dark:bg-opacity-5 dark:hover:bg-opacity-10 text-black dark:text-white;
}
.bg-box-transparent {
    @apply bg-black bg-opacity-5 dark:bg-gray-200 dark:bg-opacity-5;
}
.bg-box-transparent-2 {
    @apply bg-black bg-opacity-10 dark:bg-gray-200 dark:bg-opacity-10;
}
}


:host, :root {
--color-primary: 59 130 246;
--color-secondary: 96 165 250;
--color-accent: 24 24 27;
}
.dark {
--color-primary: 96 165 250;
--color-secondary: 59 130 246;
--color-accent: 244 244 245;
}